<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-orientation" content="portrait">
	<meta name="full-screen" content="yes">
	<meta name="x5-fullscreen" content="true">
	<style>
	html {
		font-size: 16px;
	}
	</style>
	<title>施工现场</title>
</head>
<body>
	<!-- 挂载点 -->
	<div id="app"><%= htmlWebpackPlugin.options.ssr %></div>
	<script>window.initialData=<%= htmlWebpackPlugin.options.initialData %></script>
</body>
</html>