.about {
  position: relative;
  margin: 90px auto 0 auto;
  max-width: 1024px;
}

.about li {
  line-height: 30px;
}

.about h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about a {
  margin-right: 10px;
  margin-left: 10px;
  color: skyblue;
}