.article {
  position: relative;
  margin: 90px auto 0 auto;
  max-width: 1024px;
  display: flex;
}

.article>article {
  flex: 1;
  overflow: hidden;
  background: #fff;
  padding: 30px;
  margin-right: 260px;
  border-radius: 5px;
  animation: show_to_top .5s;
}

.article-header {
  margin-bottom: 30px;
  border-bottom: 1px solid #999999;
}
.article-header>h1 {
  font-size: 28px;
  font-weight: 500;
}
.meta {
  margin-top: 20px;
  margin-bottom: 10px;
}

.meta>.browse,
.meta>.time,
.meta>.category {
  height: 19px;
  margin-right: 5px;
  vertical-align: middle;
  margin-top: -2px;
}

.meta>.browse {
  height: 20px;
}

.meta>span {
  font-size: 13px;
  font-weight: 300;
  color: #6c727c;
  margin-right: 30px;
}

.article>aside {
  position: absolute;
  top: -90px;
  right: 0;
  width: 240px;
  height: 100%;
  animation: show_to_left .5s;
}

.top {
  position: fixed;
  right: 20%;
  bottom: 10%;
  width: 30px;
}

.article>article>footer {
  height: 300px;
  line-height: 300px;
  text-align: center;
}
.markdown-body {
  text-align: justify;
}
.markdown-body .image-wrapper {
  text-align: center;
}

.markdown-body .image-wrapper>.title {
  letter-spacing: 1px;
  padding-top: 10px;
  color: #888888;
  font-weight: 400;
  font-size: 14px;
}

.heading::before {
  content: "";
  display: block;
  margin-top: -70px;
  height: 70px;
  width: 1px;
}

@media screen and (max-width: 768px) {
  .article>aside {
    display: none;
  }
  .article {
    margin-top: 50px;
  }
  .article>article {
    margin-right: 0;
  }
}