.article-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 0 0 150px;
  width: 995px;
}

.article-list li {
  position: relative;
  width: 450px;
  height: 150px;
  margin-top: 30px;
  padding-left: 30px;
  border: 1px solid #999999;
  /* opacity: 0; */
  background: #fff;
  overflow: hidden;
  transition: transform .5s;
}

/* .article-list li:nth-child(2n) {
  transform: translateY(-150px) rotate(-2deg)
}

.article-list li:nth-child(2n+1) {
  transform: translateY(-150px) rotate(2deg)
}

.article-list li:nth-child(2n).active {
  opacity: 1;
  transform: translateY(0) rotate(2deg)
}

.article-list li:nth-child(2n+1).active {
  opacity: 1;
  transform: translateY(0) rotate(-2deg)
} */

.article-list li:hover {
  box-shadow: #6c727c 0px 0px 15px;
  transform: scale(1.02, 1.02);
}

.article-list .title {
  margin-top: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}

.article-list .time {
  margin-left: 10px;
  font-size: 14px;
  color: #d4d4d4;
}

.article-list .desc {
  margin-top: 5px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 100;
}

.article-list .pic {
  position: absolute;
  height: 90px;
  right: 20px;
  top: 30px;
  transition: transform .5s;
}

.article-list .pic:hover {
  box-shadow: #6c727c 0px 0px 15px;
  transform: scale(1.2, 1.2);
}

.article-list .footer {
  margin-top: 10px;
  height: 20px;
  line-height: 20px;
}

.article-list .views{
  height: 15px;
  margin-right: 5px;
  vertical-align: middle;
}

.article-list .footer span {
  font-size: 10px;
  font-weight: 300;
  color: #6c727c;
}

.article-list__link {
  position: relative;
}
.article-list__link:hover {
  color: skyblue;
}
.underline {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -2px;
  height: 1px;
  background:skyblue;
}
.underline .mask {
  transition: transform .2s;
  height: 100%;
  width: 100%;
  background: #fff;
}
.article-list__link:hover .mask{
  transform: scaleX(0);
  display: block;
}