.article {
  position: relative;
  margin: 90px auto 0 auto;
  max-width: 1024px;
  display: flex;
}

.article>article {
  overflow: hidden;
  flex: 1;
  background: #fff;
  padding: 30px;
  margin-right: 20px;
  border-radius: 5px;
  animation: show_to_top .5s;
}

.article-header {
  margin-bottom: 30px;
  border-bottom: 1px solid #999999;
}
.article-header>h1 {
  font-size: 28px;
  font-weight: 500;
}
.meta {
  margin-top: 20px;
  margin-bottom: 10px;
}

.meta>.browse,
.meta>.time,
.meta>.category {
  height: 19px;
  margin-right: 5px;
  vertical-align: middle;
  margin-top: -2px;
}

.meta>.browse {
  height: 20px;
}

.meta>span {
  font-size: 13px;
  font-weight: 300;
  color: #6c727c;
  margin-right: 30px;
}

.article>aside {
  top: 90px;
  width: 240px;
  height: 100%;
  position: sticky;
}

.markdown-body .image-wrapper {
  text-align: center;
}

.markdown-body .image-wrapper>.title {
  letter-spacing: 1px;
  padding-top: 10px;
  color: #888888;
  font-weight: 400;
  font-size: 14px;
}

.heading:target::before {
  content: "";
  display: block;
  margin-top: -90px;
  height: 90px;
  width: 1px;
}

@media screen and (max-width: 768px) {
  .article>aside {
    display: none;
  }
  .article {
    margin-top: 50px;
  }
  .article>article {
    margin-right: 0;
  }
}