.catelog {
  background: #fff;
  padding-bottom: 20px;
  padding-top: 5px;
  animation: show_to_left .5s;
  border-radius: 5px;
  position: -ms-device-fixed;
}

.catelog>header {
  height: 30px;
  line-height: 30px;
  color: #444444;
  border-bottom: 1px solid #eaecef;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.catelog>.active {
  position: absolute;
  right: 0;
  left: 0;
  height: 26px;
  background: rgba(34,43,57,.2);
  transition: top .2s;
  border-left: 3px solid #222b39;
}

.catelog>ul>li {
  position: flex;
  list-style: square inside;  
  height: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.catelog>ul>li:hover {
  background: rgba(34,43,57,.2);
}

.catelog>ul>li.t1 {
  font-weight: 500;
}

.catelog>ul>li.t2 {
  font-weight: 400;
  padding-left: 42px;
  color: #333333;
}

.catelog>ul>li.t3 {
  font-weight: 400;
  padding-left: 64px;
  font-size: 13px;  
  color: #444444;  
}

.catelog>ul>li.t4 {
  font-weight: 400;
  padding-left: 86px;
  font-size: 13px;  
  color: #444444;  
}