.comment-area {
  display: flex;
  margin-bottom: 30px;
  top: 80px;
  left: 10px;
  right: 10px;
}

.comment-area.sticky {
  position: fixed;
  z-index: 999;
}

.comment-area>p {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  flex: 1;
  background: #f9f9f9;
  border: 1px solid #999999;
  border-radius: 5px;
  outline: none;
  letter-spacing: 1px;
  line-height: 34px;
  font-size: 16px;
  padding: 0 10px;
}

.comment-area>p.empty::before {
  content: '来啊，bb啊';
  position: absolute;
  left: 10px;
  top: 1px;
  color: #666;
}

.comment-area>p:focus {
  border-color: #222b39;
  background: #fff;
}

.comment-area>p:focus::before {
  content: '';
}

/* .comment-area>p:focus + .submit {
  display: block;
} */

.comment-area>.submit {
  /* display: none;  */
  text-align: center;
  line-height: 36px;
  display: block;   
  margin-left: 5px;
  height: 36px;
  width: 80px;
  font-size: 16px;
  border-radius: 5px;
  background: #222b39;
  color: #fff;
  outline: none;
  border: none;
  align-self: flex-end;
  transition: width .5s;
  cursor: pointer;
}

.comment {
  border-bottom: 1px solid #f4f4f4; 
  padding-top: 15px;
  padding-bottom: 15px;
}

.comment>header {
  height: 20px;
  line-height: 20px;
  font-weight: 500;
}

.comment>header>span {
  float: right;
  color: #6c727c;
  font-size: 14px;
  font-weight: 400;
}

.comment>.content {
  margin: 15px 0;
  padding: 10px 15px;
  word-break: break-all;
  border-radius: 5px;
  line-height: 25px;
  letter-spacing: 1px;
  background: #f9f9f9;
}

.comment>footer {
  height: 22px;
  display: flex;
  justify-content: flex-end;
}

.comment>footer>ul {
  flex: 1;
  max-width: 250px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.tag {
  height: 16px;
  line-height: 17px;
  font-size: 12px;
  font-weight: 400;
  padding: 2px 8px;
  border: 1px solid #999999;
  border-radius: 20px;
  transition: all .5s;
}

.tag:hover {
  background: #222b39;
  border-color: #222b39;
  color: #fff;
  cursor: pointer;
}