.game-wrapper {
  position: fixed;
  top: 130px;
}
.game {
  box-sizing: border-box;
  border: 2px solid rgb(187, 173, 160);
  background: rgba(238, 228, 218, .35);
  border-radius: 5px;
  width: 240px;
  height: 240px;
}

.game:focus {
  background: #000;
}

.score-pannel {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: #666666;
}

.score-pannel>.current,
.score-pannel>.best {
  font-size: 18px;
}
