.main-header {
 position: fixed;
 top: 0;
 right: 0;
 left: 0;
 height: 70px;
 background: #222b39;
 z-index: 9999;
}
.main-header>nav {
  margin: auto;
  max-width: 960px;
  height: 70px;
  display: flex;
  color: #fff;
  user-select:none;
}

.main-header>nav .title {
  letter-spacing: 3px;
  margin-right: 120px;
  line-height: 70px;
  font-size: 30px;
  font-weight: 50;
}

.search {
  position: relative;
  height: 25px;
  margin-top: 22px;
}

.search>input {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 30px;
  font-size: 15px;
  font-weight: 200;
  height: 100%;
  border-radius: 20px;
  border: none;
  background: #f4f4f4;
  outline: none;
}

.search>img {
  position: absolute;
  right: 5px;
  top: -1px;
  width: 25px;
  height: 25px;
  transition: transform .5s;
}

.main-header>nav>ul {
  flex: 1;
  display: flex;
  justify-content: space-between;
  letter-spacing: 3px;
  font-weight: 100;
}

.main-header>nav>ul>li {
  position: relative;
  box-sizing: border-box;
  width: 130px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  transition: font-size .5s;
}

.main-header>nav li:hover {
  font-size: 23px;
}

.main-header>nav>ul>li:hover .sub-nav {
  display: block;
  animation: show .5s;
}

.sub-nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
}
.sub-nav>li {
  line-height: 70px;
  height: 70px;
  margin-top: 1px;
  border-radius: 3px;  
  padding-left: 10px;
  background: #222b39;
  font-size: 20px;
  transition: font-size .5s;  
}

.sub-nav .count {
  letter-spacing: 0px;
  font-size: 10px;
}

