.main-header {
 position: fixed;
 top: 0;
 right: 0;
 left: 0;
 height: 70px;
 background: #222b39;
 z-index: 9999;
}
.main-header>.container {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1024px;
  height: 70px;
  display: flex;
  color: #fff;
}

.main-header .title {
  letter-spacing: 3px;
  line-height: 70px;
  font-size: 30px;
  font-weight: 50;
}

.search {
  position: relative;
  height: 25px;
}

.search>input {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 30px;
  font-size: 15px;
  font-weight: 200;
  height: 100%;
  border-radius: 20px;
  border: none;
  background: #f4f4f4;
  outline: none;
}

.search>img {
  position: absolute;
  right: 5px;
  top: -1px;
  width: 25px;
  height: 25px;
  transition: transform .5s;
}
.main-header>.container>nav {
  display: flex;
  align-items: center;
}
.main-header .nav {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 3px;
  font-weight: 100;
  user-select:none;
}

.main-header .nav>li {
  position: relative;
  box-sizing: border-box;
  width: 130px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  transition: font-size .5s;
}

.main-header nav li:hover {
  font-size: 25px;
}

.main-header .nav>li:hover>.sub-nav {
  display: block;
  animation: show .5s;
}

.sub-nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
}
.sub-nav>li {
  line-height: 70px;
  height: 70px;
  margin-top: 1px;
  border-radius: 3px;  
  padding-left: 10px;
  background: #222b39;
  font-size: 20px;
  transition: font-size .5s;  
}

.sub-nav .count {
  letter-spacing: 0px;
  font-size: 10px;
}

.icon-list {
  display: none;
}
@media screen and (max-width: 1024px) {
  .main-header .title {
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .search {
    margin-right: 20px;
  }

  .main-header .nav {
    display: none; 
  }

  .main-header {
    height: 50px;
  }

  .main-header>.container {
    height: 50px;
  }

  .main-header .title {
    line-height: 50px;
  }

  .icon-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    margin-right: 20px;
  }

  .icon-list .line {
    height: 2px;
    background: #fff;
  }

  .icon-list .line-1,
  .icon-list .line-3 { 
    transition: transform .5s;
  }

  .icon-list .line-2 {
    transition: all .5s;
  }

  .main-header.active .icon-list .line-1 {
    transform: translateY(9px) rotateZ(-315deg);
  }

  .main-header.active .icon-list .line-2 {
    transform: rotateZ(-315deg);
  }

  .main-header.active .icon-list .line-3 {
    transform: translateY(-9px) rotateZ(315deg);
  }

  .main-header.active .nav {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    top: 50px;
  }

  .main-header.active .nav>li {
    line-height: 50px;
    height: auto;
    width: 100%;
    text-align: center;
    background: #222b39;
  }

  .sub-nav {
    position: static;
  }

  .main-header nav li:hover {
    font-size: 20px;
  }

  .main-header .nav>li:hover>.sub-nav>li:first-child {
    box-shadow: inset #333333 0 5px 5px;
  }

  .main-header .nav>li:hover>.sub-nav>li:last-child {
    box-shadow: inset #333333 0 -5px 5px;
    
  }

  .main-header .nav>li:hover>.sub-nav {
    animation: none;  
  }
  .main-header .nav>li:hover>div {
    z-index: 999;
  }
  .sub-nav>li {
    line-height: 50px;
    height: 50px;
    border-radius: 0;
    margin: 0;
    background: #304960;
  }
}

@media screen and (max-width: 380px) {
  .search>input{
    width: 150px;
  }
}

