.main-header {
 position: fixed;
 top: 0;
 right: 0;
 left: 0;
 height: 70px;
 background: #222b39;
 z-index: 9999;
}
.main-header>.container {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1024px;
  height: 70px;
  display: flex;
  color: #fff;
  user-select:none;
}

.main-header .title {
  letter-spacing: 3px;
  line-height: 70px;
  font-size: 30px;
  font-weight: 50;
}

.search {
  position: relative;
  height: 25px;
}

.search>input {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 30px;
  font-size: 15px;
  font-weight: 200;
  height: 100%;
  border-radius: 20px;
  border: none;
  background: #f4f4f4;
  outline: none;
}

.search>img {
  position: absolute;
  right: 5px;
  top: -1px;
  width: 25px;
  height: 25px;
  transition: transform .5s;
}
.main-header>.container>nav {
  display: flex;
  align-items: center;
}
.main-header>.container>nav>ul {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 3px;
  font-weight: 100;
}

.main-header>.container>nav>ul>li {
  position: relative;
  box-sizing: border-box;
  width: 130px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  transition: font-size .5s;
}

.main-header>.container>nav>ul li:hover {
  font-size: 25px;
}

.main-header>.container>nav>ul>li:hover .sub-nav {
  display: block;
  animation: show .5s;
}

.sub-nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
}
.sub-nav>li {
  line-height: 70px;
  height: 70px;
  margin-top: 1px;
  border-radius: 3px;  
  padding-left: 10px;
  background: #222b39;
  font-size: 20px;
  transition: font-size .5s;  
}

.sub-nav .count {
  letter-spacing: 0px;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .main-header .title {
    margin-left: 20px;
  }
  .search {
    margin-right: 20px;
  }
  .main-header>.container>nav>ul {
    display: none; 
  }
}

