.home {
  position: relative;
  margin: 90px auto 0 auto;
  max-width: 1024px;
  display: flex;
}

.home>aside {
  top: 90px;
  width: 240px;
  height: 100%;  
  position: sticky;  
}

@media screen and (max-width: 768px) {
  .home {
    margin-top: 50px;
  }
  .home>aside {
    display: none; 
  }
}