.home {
  position: relative;
  margin: 85px auto 0 auto;
  max-width: 1024px;
  display: flex;
}

.home>aside {
  position: absolute;
  top: -85px;
  right: 0;
  width: 240px;
  animation: show_to_left .3s;
}

@media screen and (max-width: 768px) {
  .home {
    margin-top: 50px;
  }
  .home>aside {
    display: none; 
  }
}