.roller-wrapper {
  position: fixed;
  top: 90px;
  bottom: 0;
  width: 30px;
  padding-right: 100px;
  animation: show_to_top .5s;
}

.roller-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  /* background: linear-gradient(to bottom, rgba(244,244,244,1) 0%, rgba(244,244,244,0) 50%, rgba(244,244,244,1) 100%); */
}
.roller {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
}

.roller-mark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  width: 1px;
  background: #222b39;
  opacity: .5;
} 

.pages {
  position: absolute;
}

.roller::-webkit-scrollbar {/*隐藏滚轮*/
  display: none;
}

.page {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
  user-select: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #f4f4f4;
}

.page.active, .page:hover {
  border-radius: 20px;
  background: #222b39;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .roller-wrapper {
    top: 70px;
    background: #fff;
  }
  .page {
    background: #fff;
  } 
  .roller {
    top: 20px;
  }
}
@media screen and (max-width: 480px) {
  .roller-wrapper {
    display: none;
  }
}